@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Nanum+Myeongjo&family=Special+Elite&display=swap');

* {
    font-family: 'Special Elite', 'sans-serif';
    color: #43291f;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5efe8;
}

nav {
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0 100px;
    background-color: #f5efe8;
}

nav .logo p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: #43291f;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

nav img {
    width: 50px;
    height: 50px;
    margin-right: 12px;
    margin-top: 4px;
    float: left;
}
nav ul {
    float: right;
}
nav li {
    display: inline-block;
    list-style: none;
}
nav li a {
    font-size: 18px;
    text-transform: uppercase;
    padding: 0 30px;
    color: #43291f;
    text-decoration: none;
}
#logout-button {
    background-color: transparent;
    border-color: transparent;
    font-size: 18px;
    text-transform: uppercase;
    color: #43291f;
}

#logout-button:hover, #logout-button:active {
    cursor: pointer;
    color: black;
    font-size: 19px;
}

nav li a:hover {
    font-size: 19px;
    color: black;
}

.main-content {
    justify-content: left;
    margin-top: 30px;
}

.intro {
    margin-top: 40px;
}

h3 {
    margin-top: 80px;
    display: flex;
    margin-left: 200px;
}
h1 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.filters {
    padding: 10px;
}

label {
    font-family: 'Special Elite', 'sans-serif';
}

select {
    margin: 10px;
    display: block;
}

.cafe-container {
    width: 33%;
    margin: 10px;
    padding: 15px;
    border: 1px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.open-and-close {
    display: flex;
    justify-content: center;
}

.city {
    display: flex;
    justify-content: center;
}

.price-and-wifi {
    display: flex;
    justify-content: center;
}

.list-of-cafes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.list-of-cafes h2 {
    display: flex;
    justify-content: center;
    position: fixed;
}
.list-of-cafes ul {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.main-content label {
    margin-top: 11px;
}
