.mainContent {
    display: flex;
    flex-direction: row;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
}

label {
    font-family: 'Special Elite', 'sans-serif';
}

select {
    margin: 10px;
}