@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Nanum+Myeongjo&family=Special+Elite&display=swap');

*{
    font-family: 'Special Elite', 'sans-serif';
    color: #43291f;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f5efe8;
}
nav {
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0 100px;
    background-color: #f5efe8;
}

nav .logo p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: #43291f;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}

nav img {
    width: 50px;
    height: 50px;
    margin-right: 12px;
    margin-top: 4px;
    float: left;
}
nav ul {
    float: right;
}
nav li {
    display: inline-block;
    list-style: none;
}
nav li a {
    font-size: 18px;
    text-transform: uppercase;
    padding: 0 30px;
    color: #43291f;
    text-decoration: none;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

.intro p {
    margin-left: 400px;
    margin-right: 400px;
    display: flex;
    justify-content: center;
}
.share {
    margin-bottom: 50px;
}

.create-new-cafe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-new-cafe input,
.create-new-cafe label {
    margin-bottom: 12px;
}

.create-new-cafe input{
    margin-right: 20px;
    margin-left: 2px;
    padding: 4px;
}

.name-and-address,
.city,
.hours,
.price,
.wifi,
.info {
    width: 100%;
    max-width: 600px;
}

#cafe-open, #cafe-close, #cafe-price {
    width: 100%;
    max-width: 40px;
}

#cafe-city {
    width: 100%;
    max-width: 140px;
}

#cafe-wifi {
    margin-bottom: 30px;
}

#cafe-info {
    width: 100%;
    max-width: 500px;
    margin-top: 6px;
}

button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 6px;
    background-color: white;
    border-color: #43291f;
}

button:hover {
    cursor: pointer;
    background-color: #43291f;
    color: white;
}