@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Nanum+Myeongjo&family=Special+Elite&display=swap');

*{
    font-family: 'Special Elite', 'sans-serif';
}

body {
    background-color: #f5efe8;
}
h1 {
    display: flex;
    justify-content: center;
    color: #43291f;
    margin-top: 160px;
    font-size: 52px;
}

.user-input {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.log-in {
    margin: 10px;
    padding: 16px;
    border-radius: 6px;
    background-color: #f5efe8;
    border-color: #43291f;
    color: #43291f;
    font-size: 14px;
}

.sign-up {
    margin: 10px;
    padding: 16px;
    border-radius: 6px;
    background-color: #f5efe8;
    border-color: #43291f;
    color: #43291f;
    font-size: 14px;
}

.log-in:hover {
    background-color: #43291f;
    color: #f5efe8;
    cursor: pointer;
}

.active {
    background-color: #43291f;
    color: #f5efe8;
    cursor: pointer;
}

.sign-up:hover, .sign-up:active {
    background-color: #43291f;
    color: #f5efe8;
    cursor: pointer;
}

input {
    margin-bottom: 8px;
}


.coffee-container {
    display: flex;
    justify-content: center;
}

.coffee-cup {
    margin-top: 50px;
    width: 400px;
    height: 400px;
    position: fixed;
}

#login-form {
    display: none;
    flex-direction: column;
    align-items: center;
}
#login-user-status {
    display: none;
}
.login div * {
    display: flex;
}
.login div button {
    margin-left: 76px;
}

#create-form {
    display: none;
    flex-direction: column;
    align-items: center;
}

.create div * {
    display: flex;
}
.create div button {
    margin-left: 48px;
}

/* Spinning Loader Styling */
.loader {
    margin-top: 8px;
    border: 8px solid #afa7a3;
    border-top: 8px solid #43291f;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.hidden {
    display: none;
}